@import url(https://fonts.google.com/specimen/Bebas+Neue);

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    margin-bottom: 10px;
    background: rgb(226,174,61);
    background: linear-gradient(90deg, rgba(226,174,61,0.5186668417366946) 0%, rgba(255,255,255,0.5102634803921569) 50%, rgba(251,252,69,0.5102634803921569) 100%);
}

footer {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin-top: 25%;
    background: rgb(226,174,61);
    background: linear-gradient(90deg, rgba(226,174,61,0.5186668417366946) 0%, rgba(255,255,255,0.5102634803921569) 50%, rgba(251,252,69,0.5102634803921569) 100%);
}

body {
    width: 100%;
    background: url("image/Kimetsu.jpeg") fixed no-repeat;
    background-size: cover;
}

nav {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

li {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 10px;

}

a {
    text-decoration: none;
    color: rgb(55 37 128);
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: small;
    margin-bottom: 10px;
    margin-top: 5px;
    font-style: italic;
}

.livre_or {
    display: flex;
    background: gray;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.container_formulaire {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#info {
    margin-bottom: 10px;
}

#com {
    margin-bottom: 20px;
}


td, .result{
    background-color: gray;
    margin-top: 20px;
    max-width: 100%;
    min-width: 50%;
    padding-left: 10px;
    border-radius: 10px;
}

button {
    margin-top: 20px;
}