@import url(https://fonts.google.com/specimen/Bebas+Neue);

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    margin-bottom: 10px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.5186668417366946) 0%, rgba(255,255,255,0.5102634803921569) 50%, rgba(244,69,252,0.5102634803921569) 100%);
}

footer {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin-top: 60%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.5186668417366946) 0%, rgba(255,255,255,0.5102634803921569) 50%, rgba(244,69,252,0.5102634803921569) 100%);
}

body {
    width: 100%;
    background: url("image/tanjiro.jpeg") fixed no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Bebas Neue', cursive;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    flex-direction: column;
    margin-left: 34%;
    margin-top: 50px;
}

.message_connexion {
    margin-left: 40%;
    margin-top: 30px;
}

nav {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

li {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 10px;

}

a {
    text-decoration: none;
    color: rgb(55 37 128);
}

#github {
    width: 45px;
}

.message_acc {
    background: white;
    width: 370px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 40px;
    padding: 10px;
}