@import url(https://fonts.google.com/specimen/Bebas+Neue);

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    margin-bottom: 10px;
    background: rgb(91,191,227);
    background: linear-gradient(90deg, rgba(91,191,227,0.4584427521008403) 0%, rgba(255,255,255,0.444437149859944) 50%);
}

footer {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin-top: 15%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.4584427521008403) 0%, rgba(91,191,227,0.46124387254901966) 50%);
}

body {
    width: 100%;
    background: url("image/corbeau.png") fixed no-repeat;
    background-size: cover;
}

nav {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

li {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 10px;

}

a {
    text-decoration: none;
    color: black;
}

#github {
    width: 45px;
}

.connexion {
    margin-top: 10px;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    margin-left: 20px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 60px;
    border-radius: 15px;
}

input {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 50%;
    border-style: none;
    height: 25px;
    margin-left: 25%;
}


input:hover {
    background: rgb(218,72,145);
    background: linear-gradient(90deg, rgba(218,72,145,1) 12%, rgba(255,255,255,1) 62%);
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    color: black;
}

label {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 8px;
    padding: 10px;
    opacity: 75%;
}

fieldset, input {
    display: flex;
    justify-content: center;
}

.message_acc {
    display: flex;
    justify-content: center;
    background: white;
    opacity: 75%;
}

textarea {
    border-radius: 8px;
}