@import url(https://fonts.google.com/specimen/Bebas+Neue);

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    margin-bottom: 10px;
    background: rgb(110,188,208);
    background: linear-gradient(90deg, rgba(110,188,208,0.6447172619047619) 0%, rgba(255,255,255,0.6083026960784313) 50%, rgba(199,199,182,0.594297093837535) 100%);
}

footer {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin-top: 20%;
    background: rgb(110,188,208);
    background: linear-gradient(90deg, rgba(110,188,208,0.6447172619047619) 0%, rgba(255,255,255,0.6083026960784313) 50%, rgba(199,199,182,0.594297093837535) 100%);
}

body {
    width: 100%;
    background: url("image/inosuke2.jpeg") fixed no-repeat;
    background-size: cover;
}

nav {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

li {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 10px;

}

a {
    text-decoration: none;
    color: rgb(55 37 128);
}

#github {
    width: 45px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 170px;
    background: rgb(110,188,208);
    background: linear-gradient(90deg, rgba(110,188,208,0.8800113795518207) 0%, rgba(255,255,255,0.8744091386554622) 50%, rgba(199,199,182,0.8772102591036415) 100%);
    border-radius: 15px;
}

input {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 30%;
    border-style: none;
    height: 25px;
}

input:hover {
    background: rgb(152,196,224);
    background: linear-gradient(90deg, rgba(152,196,224,1) 0%, rgba(255,255,255,1) 50%, rgba(152,196,224,1) 100%);
}

.message_connexion {
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: 60px;
    font-size: larger;
}

.inscription {
    margin-top: 10px;
}

button {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 30%;
}